@import url('https://fonts.googleapis.com/css?family=Rajdhani');

body{
  background-color: black;
  /* background-image: url("stars.png"); */
  font-family: 'Rajdhani';
  color: #cecece;
}

.container {
  max-width: 1000px;
  margin-left: 20px;
  padding: 20px;
}

.container2 {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
  
h1 {
  font-size: 100px;
}
  
form input[type="text"] {
  align-items: center;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}
  
form button {
  padding: 10px 20px;
}
  
  #certificateResult {
  margin-top: 20px;
  font-weight: bold;
}

  line{
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-family: 'Rajdhani';
}
  